*{
  overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background-image:linear-gradient(rgba(0,0,50,0.8),rgba(0,050,0.8)), url("wwtbambg.jfif");
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
  
}

.btn-group button {
    background-color: transparent;
    color: orangered;
   
    float:up;
    transition: 0.5s;
    backdrop-filter: blur(20px);

    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width:100%; /* Set a width if needed */
    border-radius: 25%;
    display: block; /* Make the buttons appear below each other */
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background: transparent;
    color: whitesmoke;
    box-shadow: 0 0 5px gold,
                0 0 25px gold,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }
  .center{
    position: relative;
  /* right: 35%; */
  width: 400px;
  /* padding-top: 7%; */
  /* height: 440px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */

  }



  input[type="checkbox"]{
    display: none;
  }
  audio { 
    display:none;
  }
  /* checkbox which triggering popup */
  #q1:checked ~ #aq1,
  #q2:checked ~ #aq2,
  #q3:checked ~ #aq3,
  #q4:checked ~ #aq4,
  #q5:checked ~ #aq5,
  #q6:checked ~ #aq6,
  #q7:checked ~ #aq7,
  #q8:checked ~ #aq8,
  #q9:checked ~ #aq9,
  #q10:checked ~ #aq10,
  #q11:checked ~ #aq11,
  #q12:checked ~ #aq12,
  #q13:checked ~ #aq13,
  #q14:checked ~ #aq14,
  #q15:checked ~ #aq15{
    
    display: block;
    
  }
  /* checkbox of start playing - 
   trigger by pressing "save the world" button */
 
  
  /* hide popup and game frame*/
  #aq1,
  #aq2,
  #aq3,
  #aq4,
  #aq5,
  #aq6,
  #aq7,
  #aq8,
  #aq9,
  #aq10,
  #aq11,
  #aq12,
  #aq13,
  #aq14,
  #aq15,
  .actual{display: none;}
  
  .money{
    position:relative; 
    z-index:5;
    width:440px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    text-align:center;
    /* background: yellow;
    */
    
  }
  .button{
    display:block;
     height:40px; 
     line-height:36px;
      border:solid 2px rgba(255,255,255,0.4); 
      border-radius:20px; 
      background-color:rgba(0,0,0,0.8);
    color:#fff; 
    font-size:15pt; 
    font-weight:bold;
    margin-right:auto;
    margin-left:auto;
     text-align:center; 
    text-decoration:none; 
    cursor:pointer;
     width:50%;    
  }
  .button:hover{
    background: transparent;
    color: whitesmoke;
    box-shadow: 0 0 5px gold,
                0 0 25px gold,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    }
  
  
  .actual{background:green; 
    padding:50px; 
    color:#fff; 
    border:solid 2px #000;}
  
  .popup{
    display:none;
    position:fixed; 
    z-index:30; 
    top:30px; 
    left:calc(-50vw + 50%); 
    right:calc(-50vw + 50%);   
    width:940px; 
    padding:20px; 
    min-height:380px; 
    max-height:calc(100vh - 60px); 
    margin-left:auto; 
    margin-right:auto; 
    /* overflow:auto;IMPORTANT */
    overflow:auto;
    
    border:solid 10px #121212; 
    border-radius:10px; 
    background-color:black;
    
    padding:50px;
    color:#fff;
    border:solid 2px #000;
  }
  /* .close-button{position:absolute; 
    right:0; 
    top:0; 
    padding:20px; 
    cursor:pointer; 
    font-family:cursive, arial; 
    font-size:30rem;
    line-height:20px;
  } */
  .popup img{
    
    width: 500px;
    bottom: 0%;
    z-index: -1;
  }
  h2{
    border: 1px solid green;
    border-radius: 25px;
    text-align: center;
    width: auto;
    font-size: 40px;
    margin: 0 0 10px 20px;
  }
  .options{
    
  
   font-size: 30px;
   
  
  }
  .op1{
    display:flex;
    float: left;
   
    width: 400px;
    margin: 0 0 10px 20px;
    border: 1px solid greenyellow;
    border-radius: 20px;
  }
  .op2{
    display:flex;
    margin: 0 0 10px 20px;
    border: 1px solid greenyellow;
    border-radius: 20px;
  }
  .op4{
    display:flex;
    margin: 0 0 10px 20px;
    border: 1px solid greenyellow;
    border-radius: 20px;
  }
 
  
  .op3{
    display:flex;
    float: left;
    width: 400px;
    margin: 0 0 10px 20px;
    border: 1px solid greenyellow;
    border-radius: 20px;
    

  }
  #wrapper { 
    width: 500px; 
    margin: 0 auto;
    border-color: #03e9f4;
  }
  input[type="submit"]{
    display:grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #03e9f4;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 20px;
    width: 200px;
    padding: 10px;
    margin-left: 36%;
  }
  /* input[type="radio"]{
    display:none;
  
  } */
 
h1  { 
  border: 1px solid greenyellow;
  background-color: white;
 }

.btn-group input[type="radio"] {
  display: none;
  cursor: pointer;
}      
     
.btn-group input[type="radio"]:checked+label {
  background-color: #03e9f4;
  border-radius: 20px;
  width: 400px;
}

.hidden {

  visibility: hidden;
}